NODE_ENV=    # "production" or "development"
PORT=4000

CLIENT_DOMAIN_URL=
ADMIN_DOMAIN_URL=

DOMAIN=
EMAIL_DOMAIN=

REDIS_URL=

RESEND_API_KEY=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

ADMIN_ACCESS_SECRET=
ADMIN_REFRESH_SECRET=

SESSIONS_SECRET=

CASHFREE_API_KEY=
CASHFREE_API_SECRET=
CASHFREE_API_VERSION=

DATABASE_URL=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URI=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=